CONFIG_LABGUARD_ESPDL_PROBE_ENABLE=y
CONFIG_LABGUARD_ESPDL_PROBE_RUN_ON_BOOT=y
CONFIG_LABGUARD_ESPDL_PROBE_LOAD_SDCARD=y
# CONFIG_LABGUARD_ESPDL_PROBE_LOAD_RODATA is not set
CONFIG_LABGUARD_ESPDL_PROBE_SDCARD_PATH="/sdcard/model.espdl"
CONFIG_LABGUARD_ESPDL_PROBE_SORT_PROFILE_BY_LATENCY=y
