CONFIG_IDF_TARGET="esp32p4"
CONFIG_CAMERA_SC2336=y
CONFIG_CAM_CTRL_SPI_ENABLE=n

# SC2336 native 1024x600 RAW8 matches the EK79007 panel and camera pipeline.
CONFIG_CAMERA_SC2336_MIPI_RAW8_1024X600_30FPS=y
CONFIG_CAMERA_SC2336_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
